<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createNewProduct</title>
</head>
<body>

<form action="/createNewProduct/submit" th:object="${product}" method="post">
    <div class="container">
        <label>Product name:</label>
        <input type="text" th:field="*{name}">

        <label>Product price:</label>
        <input type="number" th:field="*{price}">

        <label>Product picture link:</label>
        <input type="text" th:field="${pictureLink.link}">

        <label>Product description:</label>
        <input type="text" th:field="${productDescription.description}">



        <button type="submit">Create product</button>

    </div>

</form>

</body>
</html>